<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinfg.dao.ResourceMapper">
    <!--分页&多条件查询资源-->
    <select id="findAllResource" parameterType="com.jinfg.domain.ResourceVo" resultType="com.jinfg.domain.Resource">
        select * from resource
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <!-- 新增-->
    <insert id="saveResource" parameterType="com.jinfg.domain.Resource">
        insert into resource(
            name,
            url,
            category_id,
            description,
            created_time,
            updated_time,
            created_by,
            updated_by)
        values(#{name},#{url},#{categoryId},#{description},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy});
    </insert>

    <!-- 修改-->
    <update id="updateResource" parameterType="com.jinfg.domain.Resource">
        update resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test=" categoryId != null and categoryId != ''">
                category_id = #{categoryId},
            </if>
            <if test="description != null and description !='' ">
                description =#{description},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by =  #{updatedBy},
            </if>
        </trim>
        <where>
            <if test="id!=null and id != '' ">
                id=#{id}
            </if>
        </where>
    </update>
</mapper>